{% extends 'main/base.html' %}
{% block title %}
Create New Folder
{% endblock %}

{% block content %}
<div class="grid-container large-8 medium-8 small-12">
    <div class="grid-x grid-padding-x">
        <div class="cell large-12 medium-12 small-12">
            <div class="cell auto"></div>
            <div class="cell large-8 medium-8 small-12">
                <h2 class="text-center">Create a New Folder</h2>
            </div>
            <div class="cell auto"></div>
        </div>
        <div class="cell large-2 medium-2"></div>
        <div class="cell large-8 medium-8 small-12">

            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="button expanded" name="Create" value="Create" />
            </form>
        </div>
        <div class="cell large-2 medium-2"></div>
    </div>
</div>

{% endblock %}