{% extends "main/base.html" %}
{% load template_filter %}

{% block content %}

<div class="grid-x">
    <div class="cell large-12 medium-12 small-12">
        <h1 class="text-center">{{ fobj.file.name|filenamesplit }}</h1>
    </div>
    <div class="cell large-4 medium-4 small-5">
        <a class="button expanded" href="#" onClick="javascript:history.go(-1);">Back</a>
    </div>
    <div class="cell large-4 medium-4 small-2">
    </div>
    <div class="cell large-4 medium-4 small-5">
        <a class="button expanded" href="/download/{{ fobj.id }}" download>Download</a>
    </div>
</div>

<div class="grid-x">
    <div class="cell large-2 medium-2"></div>
    <div class="cell large-8 medium-8 text-center">
        {% if fobj.extension in file_extensions.image %}
        <img src="{{ fobj|preview_path_hash }}" style="height: 50vh;">
        {% elif fobj.extension in file_extensions.audio %}
        <audio controls src="{{ fobj|preview_path_hash }}"></audio>
        {% elif fobj.extension in file_extensions.video %}
        <video controls src="{{ fobj|preview_path_hash }}"></video>
        {% elif fobj.extension in file_extensions.pdf %}
        <div id="pdf" style="height: 80vh;"></div>
        {% else %}
        <img src="{{ default_icon }}" style="height: 15vh;">
        {% endif %}
    </div>
    <div class="cell large-2 medium-2"></div>

    <div class="cell large-2 medium-2"></div>
    <div class="cell large-8 medium-8">
        <div class="cell large-12 medium-12 small-12">
            <h5>Description:</h5>
        </div>
        <div class="cell large-12 medium-12 small-12">
            {{ fobj.description }}
        </div>
    </div>
    <div class="cell large-2 medium-2"></div>

    <div class="cell large-2 medium-2"></div>
    <div class="cell large-4 medium-4 small-4">
        Author: {{ fobj.author.username }}
    </div>
    <div class="cell large-4 medium-4 small-4">
        Uploaded On: {{ date }}
    </div>
    <div class="cell large-2 medium-2">
        Size: {{ fobj.size }}
    </div>
    <!-- <iframe src="{{ preview_path }}" > -->

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.7/pdfobject.min.js"
    integrity="sha512-g16L6hyoieygYYZrtuzScNFXrrbJo/lj9+1AYsw+0CYYYZ6lx5J3x9Yyzsm+D37/7jMIGh0fDqdvyYkNWbuYuA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    if (document.getElementById("pdf")) {
        PDFObject.embed("{{ fobj|preview_path_hash }}", "#pdf");
    }
</script>


{% endblock %}