{% extends "main/base.html" %}


{% block content %}
<div class="grid-x">
    <ul class="dropdown menu" data-dropdown-menu>
        <li>
            <a href="#"><h5>Sort</h5></a>
            <ul class="menu">
                <li><a id="newest" href="/view_files/newest/{{ filter_method }}/">Newest</a></li>
                <li><a id="oldest" href="/view_files/oldest/{{ filter_method }}/">Oldest</a></li>
            </ul>
        </li>
    </ul>
    <ul class="dropdown menu" data-dropdown-menu>
        <li>
            <a href="#"><h5>Filter</h5></a>
            <ul class="menu">
                <li><a id="owned" href="/view_files/{{ sort_method }}/owned/">Files Owned by Me</a></li>
                <li><a id="shared" href="/view_files/{{ sort_method }}/shared/">Files Shared with Me</a></li>
                <li><a id="all_files" href="/view_files/{{ sort_method }}/all_files/">All Files I Have Access To</a></li>
                <li><a id="public" href="/view_files/{{ sort_method }}/public/">All Public Files</a></li>
            </ul>
        </li>
    </ul>

</div>

{% include "main/files_grid.html" %}

{% endblock %}

{% block scripts %}
<script>
    $('#{{filter_method}}').css('font-weight', 'bold');    
    $('#{{sort_method}}').css('font-weight', 'bold');    
</script>
{% endblock %}