.header {
  padding-bottom: 5vh;
}

body{
background-color: #f5f6f9;
}

/* div {
  border: 1px dashed;
} */

.content {
  margin-top: 0.5rem;
  margin-right: 10vw;
  margin-left: 10vw;
  min-height: 87.5vh;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.64);
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.64);
  background-color: white;
}

.card {
  margin-top: 2vh;
  margin-bottom: 1vh;
  -webkit-box-shadow: 0px 0px 51px -11px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 0px 51px -11px rgba(0,0,0,0.65);
  box-shadow: 0px 0px 51px -11px rgba(0,0,0,0.65);
  border-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

video {
  max-width: 100%;
  max-height: 100%;
}

audio {
  max-width: 100%;
  max-height: 100%;
}

.button {
  background-color: #33b344;
}

.button:hover {
  background-color: #2a9538;
}

.back_button {
  background-color: #1d9ec5;
}

.back_button:hover {
  background-color: #1a8caf;
}

.card-divider {
  background-color: #5a91a1;
  color: white;
}
.card-divider:hover {
  background-color: #518291;
}

.topbar-responsive {
  background: #c51d4a;
  padding: 1rem 1.5rem;
  -webkit-box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.64);
  box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.64);
  min-height: 10vh;
  max-height: 20vh;
}

.top-bar {
  min-height: 10vh;
  max-height: 20vh;
}

.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
}

.topbar-responsive .menu {
  background: #c51d4a;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #fefefe;
  transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
  color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  border-color: #fefefe;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #c6d1d8;
  border-color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
}